body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-image: url(../IMG/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
#container{
    display: flex;   
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
}
    
#son{
    text-align: center;
    width: 100%;
}
    
.map{
    width: 15px;
    height: 15px;
    opacity: 0.7;
}
    
.text-class2{
    color: white;
    text-align: center;
    font-style: italic;
    margin-right: 18px;
}
    
.button-image {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
    
.text-class{
    color: white;
    text-align: center;
    font-style: italic;
}  
    
.text-class4{
    color: white;
    text-align: center;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.267);
    height: 50px;
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
}
    
.button-image:hover {
    transform: scale(1.1); 
    opacity: 1;
} 
    
.button-image.enlarge {
    transform: scale(1.1); 
    opacity: 1;
}
    
.popup{
    color: white;
    width: 90%;
    max-width: 288px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.267);
    text-align: center;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.profile{
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 400px) {
    body{
        background-image: url(../IMG/celular.png);
    }
    
}
    
  
  