body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-image: url(../IMG/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 1890px;
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1250px;
}

:root{
    --color-white: white;
    --color-gray: rgba(255, 255, 255, 0.267);
    --color-black: black;
}
  
#container{
    display: flex;   
    justify-content: center;
    width: 100%;
    margin-top: -610px;
    flex-wrap: wrap;
}

.container{
    display: contents;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
    
#son{
    display: flex;
    text-align: center;
    width: 100%;
}

.profile{
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}       
    
.button-image {
    width: 30px;
    height: 30px;
    opacity: 0.6;
}

.button-image:hover {
    transform: scale(1.1); 
    opacity: 1;
} 
    
.button-image.enlarge {
    transform: scale(1.1); 
    opacity: 1;
}

.map{
    width: 15px;
    height: 15px;
    opacity: 0.7;
}    
    
.text-class{
    color: var(--color-white);
    text-align: center;
    font-style: italic;
    height: 0;
} 

.text-class2{
    color: var(--color-white);
    text-align: center;
    font-style: italic;
    margin-right: 18px;
    height: 0;
}
    
.text-class4{
    top: -62px;
    color: var(--color-white);
    text-align: center;
    border-radius: 17px;
    background-color: var(--color-gray);
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}
     
.popup{
    color: var(--color-white);
    width: 202px;
    max-width: 400px;
    height: 42px;
    background-color: var(--color-gray);
    text-align: center;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-left: 360px;
    margin-right: 363px;
    position: relative;
    top: 116px;
    transition: transform 0.3s ease-in-out;
}

.download{
    height: 20px;
    width: 20px;
    position: relative;
    left: 14px;
    opacity: 0.6;
}

.popup2{
    color: var(--color-white);
    width: 202px;
    max-width: 400px;
    height: 42px;
    background-color: var(--color-gray);
    text-align: center;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-left: 360px;
    margin-right: 363px;
    position: relative;
    top: 116px;
}

.sobre{
    background-color: var(--color-gray);
    color: var(--color-white);
    position: absolute;
    left: 100px;
    top: 591px;
    bottom: 0px;
    width: 800px;
    height: 600px;
    border: 15px solid rgba(122, 108, 108, 0.27);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 23px;
}

.popup:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.carousel {   
    width: 800px;
    height: 600px;
    top: 627px;
    border: 15px solid var(--color-gray); /* adiciona uma borda sólida de 30px com cor cinza */
    border-radius: 10px;   
    position: absolute;
    right: 100px;
    bottom: 0px;
    transform: translate(20px, -20px);
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
}
  
.slide.active {
    opacity: 1;
}
  
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.carousel-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
  
.nav-button {
    background-color: #ccc;
    border: 1px solid var(--color-black);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    cursor: pointer;
}
  
.nav-button.active {
    background-color: #000;
}


@media screen and (min-widht: 400px) and (max-width: 700px) {
    body{
        background-image: url(../IMG/celular.png);
    }
    
    .text-class4{
        color: var(--color-white);
        text-align: center;
        border-radius: 17px;
        background-color: var(--color-gray);
        height: 50px;
        width: 90%;  
        display: flex;
        justify-content: center;
        align-items: center; 
        font-weight: bold;
    }

    .popup{
    color: var(--color-white);
    width: 202px;
    max-width: 400px;
    height: 42px;
    background-color: var(--color-gray);
    text-align: center;
    border-radius: 17px;
    border: none;
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    margin-left: 360px;
    margin-right: 363px;
    position: relative;
    top: 116px;
    transition: transform 0.3s ease-in-out;
    }
}
  
  